### Make a data frame

In [1]:
import pandas as pd

data = {
    "Name" : ["Amir", "Radman", "Hirad", "Mazdak"],
    "Age" : ["17", "18", "19", "20"]
}

df = pd.DataFrame(data)
df

     Name Age
0    Amir  17
1  Radman  18
2   Hirad  19
3  Mazdak  20